# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env

# Build output
dist/
container/

# Runtime generated data
src/hls/
temp/

# Uploads (optional – keep ignored unless you really want them in git)
src/upload/

# OS / Editor junk
.DS_Store
.vscode/
.idea/

# Logs
*.log
